.react-datepicker {
  border: none;
  box-shadow: #f2f4f7 0px 0px 10px 6px;
}

.react-datepicker__day--keyboard-selected:not(
    .react-datepicker__day--range-start
  ) {
  border-radius: 14px;
  background: #6418C3;
  color: #FFFFFF;
  z-index: -1 !important;
}

.react-datepicker__day:hover {
  border-radius: 14px;
  background-color: #f2f4f7 !important; 
  color: #101828; 
}

.react-datepicker__day--in-range {
  background-color: #f2f4f7 !important;
  color: #101828 !important; 
  border-radius: 0px !important;
  z-index: 5 !important;
  margin: 0 !important;
  width: 33px !important;
  margin-top: 5px;
}

.react-datepicker__day--range-start,
.react-datepicker__day--range-end {
  background-color: #f2f4f7 !important; 
  color: white !important; 
  position: relative !important;
  z-index: 1 !important;
}

.react-datepicker__day--range-start {
  border-top-left-radius: 14px !important;
  border-bottom-left-radius: 14px !important;
  left: 3px !important;
}

.react-datepicker__day--range-end {
  border-top-right-radius: 14px !important;
  border-bottom-right-radius: 14px !important;
  left: 0px !important;
  right: 10px !important;
}

.react-datepicker__day--range-start::before,
.react-datepicker__day--range-end::before {
  content: "";
  background: #6418C3;
  width: 28px;
  height: 28px;
  border-radius: 14px;
  position: absolute;
  top: 50%;
  left: 0px;
  z-index: -1;
}

.react-datepicker__day--range-start::before {
  margin-left: 0px;
  transform: translate(1px, -50%);
}

.react-datepicker__day--range-end::before {
  margin-left: 13px;
  transform: translate(-10px, -50%);
}

.react-datepicker__day--in-selecting-range {
  background-color: #f2f4f7 !important;
  color: #101828;
  border-radius: 14px !important;
}

.react-datepicker__header {
  background-color: white;
  border: none;
}

.react-datepicker__day-disabled {
  color: red;
}

.react-datepicker {
  font-family: "Cairo";
}

.react-datepicker__day--outside-month {
  color: #BEBEBE;
}